<div [style.display]="displayGrid()" class="gamegrid">
  <div class="{{ currentClasses[0][0] }}" (click)="selectFromGrid(0, 0)">
    Battlefield Earth
  </div>
  <div class="{{ currentClasses[0][1] }}" (click)="selectFromGrid(0, 1)">
    Howard the Duck
  </div>
  <div class="{{ currentClasses[0][2] }}" (click)="selectFromGrid(0, 2)">
    Batman and Robin
  </div>

  <div class="{{ currentClasses[1][0] }}" (click)="selectFromGrid(1, 0)">
    Catwoman
  </div>
  <div class="{{ currentClasses[1][1] }}" (click)="selectFromGrid(1, 1)">
    Jack and Jill
  </div>
  <div class="{{ currentClasses[1][2] }}" (click)="selectFromGrid(1, 2)">
    Cats
  </div>

  <div class="{{ currentClasses[2][0] }}" (click)="selectFromGrid(2, 0)">
    Wing Commander
  </div>
  <div class="{{ currentClasses[2][1] }}" (click)="selectFromGrid(2, 1)">
    Dudley Do-Right
  </div>
  <div class="{{ currentClasses[2][2] }}" (click)="selectFromGrid(2, 2)">
    Twilight
  </div>
</div>
